.imageContainer {
  flex: 1;
}

.contentContainer {
  flex: 1.5;
}

.heroImg {
  width: 50%;
  z-index: 1;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* Main.module.css */
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkCursor {
  from { border-right-color: rgba(0, 0, 0, 0); }
  to { border-right-color: transparent; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.typewriter {
  overflow: hidden; /* Ensures the content is hidden during typing */
  white-space: nowrap; /* Prevents the content from wrapping */
  border-right: 0.15em solid rgba(0, 0, 0, 0.75); /* Cursor effect */
  animation: typewriter 3s steps(40) 1s 1 normal both, blinkCursor 0.75s steps(40) infinite normal;
}

.typewriter-done {
  border-right-color: rgba(0, 0, 0, 0);
  animation: none;
  border-right: 0.15em solid transparent;
  
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

@keyframes floating {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

/* Section styling */
.blogsSection {
  padding: 60px 20px;
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionTitle {
  font-size: 2.5rem;
  margin-bottom: 70px;
  font-weight: bold;
  color: #333;
}

/* Grid layout for the blogs */
.blogsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  max-width: 1200px; /* This ensures content stays centered */
  width: 100%;
  justify-items: center;
}

/* Card design */
.blogCard {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 100%;
  max-width: 350px; /* Ensure all cards have a consistent width */
  display: flex;
  flex-direction: column;
}

.blogCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

/* Image styling */
.blogImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 5px solid #0070f3;
}

/* Blog content styling */
.blogContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.blogTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
  font-weight: 600;
}

.blogDescription {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
}

/* Read more button styling */
.readMore {
  text-decoration: none;
  font-weight: bold;
  color: #0070f3;
  margin-top: auto;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #0070f3;
  color: #fff;
  text-align: center;
  transition: background-color 0.3s ease;
}

.readMore:hover {
  background-color: #0050c3;
}

